
body {
    padding: 5em;
    background-image: url(Waterbackground.jpg);

}
main {
    background-color: rgb(128, 128, 128);
    background-color: rgba(172, 170, 170, 0.829);
    border-style: double;
    border-width: 15px;
    border-color: aquamarine; 
    color: white;
    font-family: Ariel, Veranda, sans-serif;
    color: white;
    padding: 10px;
}

h1 {
    background-color: aquamarine;
    color: grey;
    font-size: 50px;
}
h2 {
    color: rgb(255, 132, 132);
    text-shadow: 2px 2px 7px #111111;
}



div {
    color: aquamarine;
    font-weight: bold;
    font-style: italic;
}

footer {
    color: lightcoral;
    margin: 10px;
}

.Cait {
    color: lightcoral;
}

.headshot {
    float:left;
    margin:10px;
    height: 10em;
    width:auto;

}